@CHARSET "UTF-8";

p.cell_title {
	margin-left:auto;
	margin-right:auto;
}

div.parseResult {
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:10px;
	width:450px;
	border-width:3px;
	border-style:solid;
	margin:10px;
}

div.pr_success {
	background-color:#8cd17a;
	border-color:#374234;
}

div.pr_failure {
	background-color:#bd2124;
	border-color:#7e0306;
}

p.pr_title {
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
}

p.pr_title {
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
}

div.pr_unknown_word {
	
}

p.cell_title {
	margin:20px;
	padding:20px;
}

input.ps_term {
	margin:5px;
	width:300px;
}

ul.ps_term_list {
	padding:0;
	list-style-type: none;
}

ul.ps_term_list li {
	padding:5px;
}

a.ps_addButton {
	cursor: pointer;

	padding: 3px;
	float:right;
}
